
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.facility-section {
  padding: 60px 20px;
   background: linear-gradient(to right, #f4f9ff, #ffffff);
  text-align: center;
}

.facility-heading h2 {
  font-size: 50px;
  color:  #0054A6;
  margin-bottom: 10px;
    font-family: 'Figtree';
    font-weight: 700;
    
}

.facility-heading p {
  color: rgb(63, 61, 61);
  margin-bottom: 40px;
  font-size: 18px;
  font-weight: 500;
  
}

.facility-grid {
  display:flex;
  flex-wrap: wrap;
    grid-template-columns: repeat(4, 1fr); 
  gap: 30px;
  justify-content: center;
}

.facility-box {
  background: #ffffff;
  padding: 25px 20px;
  border-radius: 12px;
  width: 250px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.07);
  transition: all 0.3s ease;
  cursor: pointer;
}

.facility-box:hover {
  background-color: #e6f0ff;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.facility-icon {
  font-size: 40px;
  color:#A1D348;
  margin-bottom: 15px;
  transition: all 0.3s ease;
}

.facility-box:hover .facility-icon {
  color: #00AEEF;
  transform: scale(1.2);
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
}

.facility-box h3 {
  font-size: 20px;
  color: #222;
  margin-bottom: 10px;
}

.facility-box p {
  font-size: 14px;
  color: #555;
}

/* Responsive */
@media (max-width: 768px) {
  .facility-box {
    width: 100%;
    max-width: 90%;
  }
}
@media (max-width: 1024px) {
  .facility-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

