

.hero-slider-wrapper {
  position: relative;
  padding-top: 125px;
}

.hero-slider {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 90vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
  z-index: 1;
}

/* ✅ Stats Box Style */
.hero-stats-box {
  width: 90%;
  margin: -60px auto 40px auto;
  
  
   
  border-radius: 16px;
  padding: px;
  position: relative;
  z-index: 2;
}

.stats-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  text-align: center;
}

.stat-item {
  flex: 1 1 150px;
}

.stat-item strong {
  display: block;
  font-size: 36px;
  color: #0054A6;
  font-weight: bold;
  margin-bottom: 5px;
  font-family: "Anton", sans-serif;
   font-weight: 400;
  font-style: normal;
}

.stat-item span {
  padding-top: 15px;
  font-size: 18px;
  color:  #0054A6;
    
    
    font-weight: 700;
  font-style: normal;
   
    
  
   
}

/* ✅ Mobile Responsive */
@media (max-width: 768px) {
  .slide,.hero-slider {
    height: 40vh;
  }
  .specialty-header p{
    margin-left: 0px;
    margin-top: 10px;
    text-align: left!important;
  }

  .facility-heading h2 ,.insurance-title{
    font-size: 20px!important;
  }
      .cs_funfact_1_wrap {
  display: none!important;
}
  .hero-stats-box {
    padding: 20px 15px;
  }

  .stats-row {
    flex-direction: column;
    gap: 15px;
  }
  .hero-slider-wrapper {
    padding-top: 85px;
  }
}
