
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');


.hospital-intro {
  display: flex;
  flex-wrap: wrap;
  padding: 60px 40px;
  background: #f9fcff;
  align-items: center;
}

.intro-left {
  flex: 1 1 50%;
  padding: 20px 30px;
}

.intro-left h2 {
  font-size: 50px;
  color:  #044a8f;
  margin-bottom: 20px;
    font-family: 'Figtree';
   
  font-weight: 700;
  font-style: normal;
  line-height: 1.1;
}

.intro-left p {
  font-size: 14px;
  line-height: 1.7;
  color: #444;
  margin-bottom: 15px;
}

.highlight {
  color: #2989d8;
  font-weight: 600;
}

.highlight-green {
  color: #4CAF50;
  font-weight: 600;
}

.sanskrit {
  font-style: italic;
  color: #777;
}

.tagline {
  font-weight: 600;
  color: #274760;
  margin-top: 10px;
}

.intro-right {
  flex: 1 1 50%;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
  padding-top: 90px;
}

.img-grid img {
  width: 100%;
  border-radius: 12px;
  object-fit: cover;
  height: 190px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.4s ease;
}

.img-grid img:hover {
  transform: scale(1.05);
}

/* Responsive */
 @media (max-width: 768px) {
  .hospital-intro {
    flex-direction: column;
    padding: 40px 20px;
  }
.insurance-subtitle {
  font-size: 14px;
    color: rgb(68, 67, 67);
    margin-bottom: 26px;
    line-height: 18px;
}
.cs_section_wrap_1{
  margin-top: 20px;
}
.founder-section{
  padding: 20px 0px!important;
}
.cs_about.cs_style_3 .cs_support_card{
          margin-left: 10px;
        margin-right: 9px;
        margin-bottom: 16px;
        padding: 10px 20px;
}
.cs_img_filed > img{
  margin-bottom: 20px;
}
.cs_accent_color {
  margin-top: 20px;
}
.cs_fs_20{
  font-size: 15px!important;
}
.cs_height_lg_110,.cs_height_lg_145{
  height: auto!important;
}
    .cs_iconbox.cs_style_5 .cs_iconbox_icon {
        width: 68px;
        height: 58px;
        padding: 20px;
    }
.cs_support_card .cs_heading_color {
font-size: 12px!important;
}
.cs_height_lg_125{
  height: 20px!important;
}
p{
  font-size: 14px!important;
  font-family: 'poppins';
}
.cs_about.cs_style_3 .cs_section_heading.cs_style_1{
  padding: 20px 10px!important;
}
.cs_height_lg_120{
  height: auto!important;
  margin-bottom: 20px;
}
.cs_banner.cs_style_3, .cs_banner.cs_style_5{
  padding: 80px 0px 50px 0px!important;
}
    .cs_banner.cs_style_3, .cs_banner.cs_style_5 {
      min-height: 200px!important;
    }
.cs_section_subtitle{
  font-size: 16px!important;
}
    .slider-title {
      font-size: 20px!important;
      margin-bottom: 20px;
    }
    .cs_height_lg_150{
      display: none;
    }
    .cs_fs_24{
      font-size: 18px!important;
    }
    .cs_fs_72{
      font-size: 22px!important;
    }
.facility-section{
  padding: 20px 10px;
}
.facility-heading p{
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 20px;
}
.directors-container{
  padding-top: 0px!important;
}
.founder-intro{
  font-size: 13px!important;
}
.insurance-section{
  padding: 20px 10px;
}
.section-title{
  font-size: 20px!important;
}
  .intro-left, .intro-right {
    flex: 1 1 100%;
    padding: 10px 0;
  }

  .intro-left h2 {
    font-size: 20px;
    text-align: left;
  }
  .specialty-header {
    padding: 20px 10px;
  }
  .hero-stats-box{
    margin-bottom: 20px;
  }
      .specialty-header h2 {
        font-size: 20px;
        text-align: left;
      }
  .img-grid{
    padding-top: 10px;
  }

  .hospital-intro{
    padding: 20px 10px;
  }
  .intro-left p {
    font-size: 14px;
    text-align: justify;
  }

  .img-grid {
    grid-template-columns: 1fr 1fr;
    gap: 12px;
    max-width: 100%;
  }

  .img-grid img {
    height: 150px;
  }
}

