

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');
.insurance-section {
  background: linear-gradient(to right, #f4f9ff, #ffffff);
  padding: 60px 20px;
}

.insurance-container {
  max-width: 1100px;
  margin: auto;
  text-align: center;
}

.insurance-title {
  font-size: 50px;
   font-weight: 700;
  color: #0054A6;
   font-family: 'Inter', sans-serif;
  margin-bottom: 10px;
}

.insurance-subtitle {
  font-size: 20px;
  color: black;
  margin-bottom: 55px;
  font-weight: 500;
}

.insurance-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 30px;
  align-items: center;
}

.insurance-card {
  background: #ffffff;
  padding: 20px;
  border-radius: 16px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.08);
  transition: transform 0.3s ease;
}

.insurance-card:hover {
  transform: scale(1.05);
}

.insurance-img {
  width: 100%;
  height: 80px;
  object-fit: contain;
  margin-bottom: 10px;
}

.insurance-name {
  font-size: 14px;
  font-weight: 600;
  color: #0054A6 ;
}
