 .top-header {
  background-color: #7897ec;
  color: white;
  font-family: sans-serif;
  padding: 10px 20px;
  font-size: 14px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

.top-header-container {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.contact-box {
  background-color: white;
  color: #263a70;
  padding: 5px 15px;
  border-radius: 15px 0 15px 15px;
  font-weight: 500;
  font-size: 14px;
}

.info-item {
  display: flex;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 18px;
}

.icon {
  font-size: 17px;
  color: white;
}

@media (max-width: 768px) {
  .top-header {
    flex-direction: column;
    padding: 8px 12px;
  }

  .top-header-container {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }

  .contact-box {
    font-size: 13px;
    padding: 4px 12px;
  }

  .info-item {
    font-size: 13px;
  }
}
